
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Email verification</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <style>
            #wrapper {
                position: relative;
                width: 96%;
                margin: auto;
                text-align: center;
                vertical-align: middle;
            }

            .main {
               margin-top: 10%;
            }

        </style>
    </head>

    <body>
        <div id="wrapper">
            <div class="main">
                <a href="https://app.caracal.cloud"><img src="https://public.caracal.cloud/images/logo.png" width="250"></a>
                <p class="lead">{{ message }}</p>
                <a href="https://app.caracal.cloud"><button type="button" class="btn btn-secondary" style="margin-top: 10px">Continue to Caracal</button></a>
             </div>
        </div>
    </body>
</html>
