option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: placeholder_settings
    TUMA_AWS_KEY: placeholder_aws_key
    TUMA_AWS_SECRET: placeholder_aws_secret
    CARACAL_SECRET: placeholder_secret
    CARACAL_STAGING_COGNITO_USERPOOL_ID: placeholder_staging_userpool_id
    CARACAL_STAGING_COGNITO_APP_ID: placeholder_staging_app_id
    CARACAL_PROD_COGNITO_USERPOOL_ID: placeholder_prod_userpool_id
    CARACAL_PROD_COGNITO_APP_ID: placeholder_prod_app_id
    CARACAL_MEMCACHED_LOCATION: placeholder_memcached_location
    CARACAL_GOOGLE_CLIENT_ID: placeholder_google_client_id
    CARACAL_GOOGLE_CLIENT_SECRET: placeholder_google_client_secret
    CARACAL_AGOL_CLIENT_ID: placeholder_agol_client_id
    CARACAL_AGOL_CLIENT_SECRET: placeholder_agol_client_secret
    CARACAL_PG_HOST: placeholder_mysql_host
    CARACAL_PG_USER: placeholder_mysql_password
    CARACAL_PG_PASSWORD: placeholder_mysql_user
    CARACAL_OVERLORD_EMAIL: placeholder_overlord_email
    CARACAL_OVERLORD_PASSWORD: placeholder_overlord_password
    CARACAL_LIVE_STRIPE_API_KEY: placeholder_live_stripe_api_key
    CARACAL_TEST_STRIPE_API_KEY: placeholder_test_stripe_api_key
    DEPLOYED: true
  aws:elasticbeanstalk:container:python:
    WSGIPath: caracal/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static/"
