container_commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: placeholder_settings
    TUMA_AWS_KEY: placeholder_aws_key
    TUMA_AWS_SECRET: placeholder_aws_secret
  aws:elasticbeanstalk:container:python:
    WSGIPath: caracal/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static/"
